#root {
	height: 100%;
}

.App {
	text-align: center;
	padding: 10px;
	background: #c7c9cc;
	height: 100%;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

